[build]
framework = "astro"
command = "bun install && bun run build"
publish = "dist"

[[headers]]
for = "/_astro/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*"
[headers.values]
Content-Security-Policy = "frame-ancestors 'none';"
X-Frame-Options = "DENY"
