/* Inline spoiler span */
.md .spoiler {
  background: var(--grey-4);
  color: transparent;
  border-radius: 0.125rem;
  padding: 0 0.25rem;
  cursor: help;
  transition: all 0.3s ease;
  user-select: none;
}

.md .spoiler:hover {
  background: transparent;
  color: var(--text-color);
}
